<html>
<head><title> Order Confirmed</title>
{% load static %}
<style>
body { 
  background: lightblue url("{% static 'images/ssss.jpeg' %}") no-repeat fixed center; 
}

</style>
</head>
<body >

<h1 style = "color:white"><b><center>CUSTOMER DETAILS</center><b></h1>
<center><form method="get" action="post1">
				<button type="post1">Details</button>
				</form></center></b></a></center>
</center></h1>
<br>
<br>
<br>
<h1 style = "color:white"><center></center></h1>
<br>
<br>
<br>
<h2 style = "color:white"><center></center></h2>
<br>
<br>
<br>
<br>
<br>
<h1 style = "color:white"><center>DRIP N DRY</center></h1>


<center><a href = "index"><b>Logout</b></a></center>
</body>
</html>


